<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div class="jumbotron">
  <center><h1>Thymesis</h1></center>
  <br>
  <% posts.forEach((memory) => { %>
    <div class="card border-primary mb-3">
    <div class="card-header">
      <a href="/memory/<%=memory.post_id%>"><h4><%= memory.title %></h4></a>
    </div>
    <div class="card-body">
      <p class="card-text"><%= memory.summary %></p>
    </div>
      <div class="card-footer text-muted">
      created <%= memory.datetime %> by <span id="<%=memory.post_id%>" class="badge badge-primary badge-pill"></span> from <a href="https://www.google.com/maps/place/<%= memory.location.replace(':',',')%>">this location.</a>
    </div>
  </div>
  <% }) %>

</div>

<script src="/optionaljs/axios.js"></script>

<script>

<% posts.forEach((memory) => { %>
  axios.get('http://thymesis-memories-v3.herokuapp.com/api/Users/<%=memory.user%>').then((response) => {
    document.getElementById('<%=memory.post_id%>').innerText = response.data.username;
  })
<% }) %>

</script>
