<style>
.fit {
  max-width: 100%;
  max-height: 100%;
}
</style>

<div class="card border-primary mb-3">
<div class="card-header"><h4><%= memory.title %></h4></div>
<div class="card-body">
  <% if (memory.image_url !== null) { %>
    <% if (memory.image_url !== 'none') { %>
        <img class="annotatable fit" src="<%= memory.image_url %>">
        <% if (typeof user !== 'undefined') { %>
        <a href="/annotateimg/<%=memory.post_id%>"><button class="btn btn-warning my-2 my-sm-0 float-right">Annotate image</button></a>
        <% } %>
    <% } %>
  <% } %>
  <p class="card-text"><i><%= memory.summary %></i></p>
  <p class="card-text" id="memory-text"><%= memory.body %>
  <% if (typeof user !== 'undefined') { %>
  <a href="/annotate/<%=memory.post_id%>"><button class="btn btn-warning my-2 my-sm-0 float-right">Annotate text</button></a>
  <% } %>
  </p>
</div>
  <div class="card-footer text-muted">
  created <%= memory.datetime %> by <span id="<%=memory.post_id%>" class="badge badge-primary badge-pill"></span> from <a href="https://www.google.com/maps/place/<%= memory.location.replace(':',',')%>">this location.</a>
</div>
</div>

<div class="card border-primary mb-3">
<div class="card-header"><h4>Comments</h4></div>
<div class="card-body">
  
    <% if (comments.length > 0) { %>

    <ul class="list-group">
    <% comments.forEach((comment) => { %>
        <li class="list-group-item align-items-center">
        <p><%= comment.body %></p>
        <span id="<%=comment.comment_id%>" class="badge badge-secondary badge-pill"></span>
        <span class="badge badge-pill badge-info"><%= comment.datetime %></span>
    </li>
    <% }) %>
    </ul>

    <% } else { %>
    <p>No comments!</p>
    <% } %>
</div>
<% if (typeof user !== 'undefined') { %>
<div class="card-footer text-muted">
    <form action="/comment/new" method="get">
    <form>
    <input type="hidden" name="post" value="<%= memory.post_id %>">
    <input type="hidden" name="user" value="<%= user.user_id %>">
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Write your comment..." name="comment">
    <div class="input-group-append">
    <button class="btn btn-info my-2 my-sm-0" type="submit">Submit</button>
    </div>
    </div>
    
    </form>
</div>
<% } %>
  
</div>


<script src="/optionaljs/axios.js"></script>

<script>

String.prototype.splice = function(idx, rem, str) {
    return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
};

anno.hideSelectionWidget()

axios.get('/post/getAnnotations?post_id=<%=memory.post_id%>').then((response) => {
    console.log(response.data.textAnnotations);
    setTimeout(function () {
        response.data.imageAnnotations.forEach((a) => {
            anno.addAnnotation({
                src: '<%=memory.image_url%>',
                context: window.location.href,
                text: a.body,
                shapes: [{
                    type : 'rect',
                    geometry : { x: a.x, y: a.y, width: a.w, height: a.h }
                }],
            })
        }, 1000);   
    });

    response.data.textAnnotations.forEach((a) => {
        let memo = document.getElementById('memory-text').innerHTML;
        let start = a.start;
        let end = a.end;
        memo = memo.splice(start, 0, "<mark>");
        memo = memo.splice(end + 6, 0, "</mark>");
        document.getElementById('memory-text').innerHTML = memo;      
    })
 
});

  

  axios.get('https://thymesis-memories-v3.herokuapp.com/api/Users/<%=memory.user%>').then((response) => {
    document.getElementById('<%=memory.post_id%>').innerText = response.data.username;
  })

  <% comments.forEach((comment) => { %>
  axios.get('https://thymesis-memories-v3.herokuapp.com/api/Users/<%=comment.user%>').then((response) => {
    document.getElementById('<%=comment.comment_id%>').innerText = 'by ' + response.data.username;
  })
  <% }) %>


</script>