<style>
img.thumbnail {
  width:64px; 
  height: auto;
}
</style>

<div class="jumbotron">
  <center><h3>Search results for: "<%=query%>"</h3></center>
  <br>
  <form action="/search" method="get">
  <div class="form-group">
    <div class="input-group mb-3">
        <input class="form-control form-control-lg" type="text" placeholder="Search memories..." id="q" name="q">
        <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
  </div>
  </form>
  
  <% results.forEach((memory) => { %>
    <div class="card border-primary mb-3">
    <div class="card-header">
      <a href="/memory/<%=memory.post_id%>"><h4><%= memory.title %></h4></a>
    </div>
    <div class="card-body">
    <div class="row">
      <div class="col-1">
      <% if (memory.image_url === 'none') { %>
      <img class="thumbnail" src="/images/no-image.png" />
      <%} else {%>
      <img class="thumbnail" src="<%=memory.image_url%>" />
      <%}%>
      </div>
      <div class="col-11">
      <p class="card-text"><%= memory.summary %></p>
      </div>
    </div>
    </div>
    <div class="card-footer text-muted">
    created <%= memory.datetime %> by <a href="/userpage/<%=memory.user%>">
    <span id="<%=memory.post_id%>" class="badge badge-primary badge-pill"></span></a> 
    <% if (memory.happened_on !== null) { %>
    happened on <span class="badge badge-pill badge-info"><%=memory.happened_on%></span>
    <% } %>
    at<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-<%=memory.post_id%>">this location.</button>
  </div>
  </div>
  <% }) %>

</div>

<script src="/optionaljs/axios.js"></script>

<script>

<% results.forEach((memory) => { %>
  axios.get('https://thymesis-memories-v4.herokuapp.com/api/Users/<%=memory.user%>').then((response) => {
    document.getElementById('<%=memory.post_id%>').innerText = response.data.username;
  })
<% }) %>

</script>
